%script{:src=>'/js/dominion/dominion.js'}
.current#main
  .toolbar
    %h1 RanDominion
    %a.button.slideup{:href=>'#settings'} Settings

  .touchable#spread
    %ul.rounded#cards0
    %ul.rounded#cards1

  .touchable#refresh
    %ul.rounded
      %li
        %a Refresh

  .touchable#banned-cards
    %h2 Banned Cards (tap to unban)
    %ul.rounded#ban0
    %ul.rounded#ban1

  #starting-player
    %h2 Starting Player
    %ul.rounded
      -1.upto(6) do |max_players|
        %li
          == #{max_players}-player game: Player #{starting_player(max_players)}

#settings
  .toolbar
    %h1 Settings
    %a.leftButton.back Back

  #expansions
    %h2 Expansions
    %ul.rounded
      -@sources.sort{|a,b|a[0] <=> b[0]}.each do |source, allow|
        %li
          =source
          %span.toggle
            %input{:type=>'checkbox', :checked=>allow, :id=>"exp_#{source}"}

  #alchemy-rules
    %h2 Alchemy
    %form
      %ul.form
        %li 
          %select#alchemy-min-cards
            %option{:value=>-1}Minimum Alchemy cards w/ Potion...
            %option{:value=>0}Ignore minimum Alchemy card rule
            -1.upto(5) do |n|
              %option{:value=>n}== Minimum #{n} Alchemy card#{n>1 ? 's' : ''} w/ Potion

  #general
    %h2 General
    %ul.rounded
      %form
        %ul.form
          %li 
            %select#spread-sort
              %option{:value=>''}Sort cards by...
              %option{:value=>'name'}Sort cards by name
              %option{:value=>'expansion'}Sort cards by expansion
