#cards
  %ul.rounded
    -@cards.each do |card|
      %li
        %a{:href => "/ban_card/#{card.id}"}= card.name

  %ul.rounded
    %li
      %a{:href=>'/refresh'}
        Refresh

  .rounded-header
    Banned Cards (tap to unban)
  %ul.rounded
    -@banned_cards.sort_by{|c|c.name}.each do |card|
      %li
        %a{:href=>"/unban_card/#{c.id}"}= card.name

  .rounded-header
    Included Expansions (tap to exclude)
  %ul.rounded
    -@sources.sort.each do |source|
      %li
        %a{:href=>"/ban_source/#{source}"}= source

  .rounded-header
    Excluded Expansions (tap to include)
  %ul.rounded
    -@banned_sources.sort.each do |source|
      %li
        %a{:href=>"/unban_source/#{source}"}= source

  .rounded-header
    Starting Player
  %ul.rounded
    -1.upto(6) do |max_players|
      %li
        == #{max_players}-player game: Player #{starting_player(max_players)}
